---
layout: home
---
<div class="index_content blog insert">
    <div class="section">
        <ul class="article_cate">
            <li class="on"><a href="/"><span>首页</span></a></li>
            <li style="text-align:center"><a href="/category.html"><span>归档</span></a></li>
            <li style="text-align:right;float:right;"><a href="/about.html"><span>关于</span></a></li>
        </ul>

        <div class="cate_bar"><span id="cateBar"></span></div>

        <ul class="article_list">
        {% for post in paginator.posts %}
            <li class="jquery_pages">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <div class="title_desc">{{ post.description }}</div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="aside">
    </div>
</div>

<!-- Pagination links -->
<div class="pagination">
{% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="current_page">{{page}}</span> 
    {% else %}
        {% if page == 1 %}
        <a href="/" class="pages">{{page}}</a>
        {% else %}
        <a href="/page{{page}}" class="pages">{{page}}</a>
        {% endif %}
    {% endif %}
{% endfor %}
</div>