/* 
 * Reset and Base
 */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;} 
table{border-collapse:collapse;border-spacing:0;} 
caption,th{text-align:left;} 
fieldset,img,a img,iframe,html,body{border:0;} 
li{list-style:none;} 
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} 
h1,h2,h3,h4,h5,h6,em{font-size:100%;font-weight:normal;} 
b,strong{font-style:normal;font-size:100%;font-weight:bold;} 
abbr,acronym{border:0;font-variant:normal;} 
sup{vertical-align:text-top;} 
sub{vertical-align:text-bottom;} 
del,ins{text-decoration:none;} 
[hidefocus]{outline:0;} 
textarea,input,button,select{font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;outline:0;} 
textarea{overflow:auto;resize:none;} 
body{word-wrap:break-word;font:12px/200% "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";}
textarea,input,select{font-family:"Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";font-size:12px;}
a,button{cursor:pointer;} 
a{outline:0;star:expression(this.onFocus=this.blur());}
a,a:hover{text-decoration:none;}
.f-cb{clear:both;padding:0;margin:0;font-size:0;line-height:0;height:0;}
.box:after{clear:both;display:block;visibility:hidden;height:0;overflow:hidden;content:'.';}
.box{zoom:1;}
.f-hidden{visibility:hidden;}
a,.m-sch .form,.m-post,.img img{-webkit-transition:all .3s ease;transition:all .3s ease;}
.m-sch a{-webkit-transition:all 0s ease;transition:all 0s ease;}
a:hover,.m-pager-idx .active{opacity:.6;}
.img:hover,.m-cmthot a:hover{opacity:1;}
.img:hover img{box-shadow:0 0 15px 0 rgba(0,0,0,0.25);}

/* all bg-imgs */
.lnks .date,.lnks .cmt,.lnks .hot{background:url(http://img.ph.126.net/nJmbru5W43ibysBECxMbRg==/5629516026887562342.png) no-repeat scroll 0 0;}

/* 
 * Grid
 */
.g-doc{padding:0 0 80px;}
.g-hd0,.g-hd1,.g-ft{text-align:center;}
.g-hd0{padding:46px 0 0;}
.g-hd1{padding:14px 0 54px;}
.g-hd0 .g-hdc,.g-hd1 .g-hdc,.g-mn,.g-ft{width:1020px;margin:0 auto;padding:0 20px;}
.g-mn,.g-ft{padding:40px 20px;background:#fff;}
.g-mn{padding-bottom:0;min-height:450px;_height:450px;}

/* 
 * Modules
 */
/* hd */
.m-ttl{font-size:24px;letter-spacing:2px;line-height:56px;}
.m-cstmttl{width:800px;margin:0 auto;padding:16px 0;text-align:center;_visibility:hidden;}
.m-cstmttl img{max-width:800px;vertical-align:middle;/*_width:800px;*/}
.m-about{margin:10px 0 0;}

.m-nav li,.m-nav a{display:inline-block;*display:inline;*zoom:1;}
.m-nav li{margin:6px 10px;}
.m-nav a{white-space:nowrap;}
.m-nav a:hover,.m-cmthot a:hover{text-decoration:underline;}

.m-sch{position:relative;}
.m-sch .form,.m-sch .txt{width:0;height:22px;line-height:22px;}
.m-sch .form{position:absolute;left:0;top:0;padding:0 10px;border:1px solid #898989;background:#fff;opacity:0;visibility:hidden;}  
.m-sch .txt{border:0;background:none;}
.m-schshow .form,.m-schshow .txt{width:80px;}
.m-schshow .form{opacity:1;visibility:visible;}

/* post list */
.m-post,.m-detail,.m-cmthot,.m-pager a{background:#fff;}
.m-post{float:left;display:inline;margin:0 20px 40px;width:300px;/*overflow:hidden;*/}
.m-post .pic img,.m-post .thumbnail img,.m-post .pic object,.m-post .pic embed{width:100%;}
.m-post-audio .player object,.m-post-audio .player embed,.m-post img{vertical-align:middle;}
.m-post .ttl,.m-detail .ttl{margin:0 0 15px;font-size:14px;font-weight:bold;}
.m-post img,.m-post-video .pic,.m-post .player,.m-post .text{margin-bottom:15px;}
/* types in <text> */
.m-post .text ul,.m-post .text ol,.m-detail .ctc ul,.m-detail .ctc ol{padding:0 0 0 25px;}
.m-post .text ul li,.m-detail .ctc ul li{list-style:disc outside;}
.m-post .text ol li,.m-detail .ctc ol li{list-style:decimal outside;}
.m-post .text blockquote,.m-detail .ctc blockquote{border-left:1px solid #ccc;padding-left:10px;}
.m-post .text p,.m-post .text ul,.m-post .text ol,.m-post .text blockquote,.m-detail .ctc p,.m-detail .ctc ul,.m-detail .ctc ol,.m-detail .ctc blockquote,.m-detail .ctc .text,.m-detail .ctc .digest{margin:0 0 20px;}
.m-post .text img,.m-post .text object,.m-post .text embed,.m-detail img,.m-detail object,.m-detail embed{max-width:100%;_width:100%;}
.m-post .text object,.m-post .text embed,.m-detail object,.m-detail embed{*width:100%;}
/* info */
.info{padding:5px 0 30px;border-bottom:1px solid #f2f2f2;}
.info a{float:left;margin-right:20px;}
.tags{margin-bottom:20px;}
.lnks{padding:5px 0;}
.lnks .date,.lnks .cmt,.lnks .hot{padding-left:16px;}
.lnks .date{background-position:0 6px;}
.lnks .cmt{background-position:0 -64px;}
.lnks .hot{background-position:0 -30px;}

/* post detail */
.m-postdtl{margin:40px auto 0;width:800px;}
.m-detail,.m-pager-dtl,.m-cmthot{margin:0 0 40px;}
.m-detail-img .pic,.m-detail .ttl{text-align:center;}
.m-detail-img .digest{text-align:left;}
/* Multimedias of posts */
.m-detail-audio .player object,.m-detail-audio .player embed{width:257px;vertical-align:middle;}
.m-detail-video .pic object,.m-detail-video .pic embed{display:block;width:800px;height:500px;}
.m-detail .cover img{float:left;width:200px;margin:0 30px 10px 0;}
.m-detail img,.m-detail-video .pic,.m-detail .player{margin-bottom:20px;}
.m-detail img{vertical-align:middle;}

/* 以下代码只对有环绕需求的内容使用。副作用：导致ul和ol的每一个li只有一行(ie10) */
.ie10 .m-post-leftimg .text ul,
.ie10 .m-post-leftimg .text ol,
.ie10 .m-detail-leftimg .text ul,
.ie10 .m-detail-leftimg .text ol{padding-left:0;}
.ie10 .m-post-leftimg .text ul li,
.ie10 .m-detail-leftimg .text ul li{list-style:disc inside none;}
.ie10 .m-post-leftimg .text ol li,
.ie10 .m-detail-leftimg .text ol li{list-style:decimal inside none;}
.ie10 .m-post-leftimg .text ul li p,
.ie10 .m-post-leftimg .text ol li p,
.ie10 .m-detail-leftimg .text ul li p,
.ie10 .m-detail-leftimg .text ol li p{vertical-align:bottom;*vertical-align:baseline;display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;margin:0;}
.ie10 .m-post-leftimg .text ul li,
.ie10 .m-post-leftimg .text ol li,
.ie10 .m-detail-leftimg .text ul li,
.ie10 .m-detail-leftimg .text ol li{overflow:hidden;height:27px;line-height:27px;padding-left:2px;}
.ie10 .m-post-leftimg .text ul li p,
.ie10 .m-post-leftimg .text ol li p,
.ie10 .m-detail-leftimg .text ul li p,
.ie10 .m-detail-leftimg .text ol li p{overflow:hidden;width:90%;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-break:keep-all;}

/* Pager & Top */
.m-pager{padding:0 0 40px;border-bottom:1px solid #f2f2f2;}
.m-pager-idx{margin:0 20px;text-align:center;}
.m-pager-idx a{padding:0 14px;}
.m-pager-idx .active{cursor:default;}
.m-pager-dtl .prev{float:left;}
.m-pager-dtl .next{float:right;}

/* Skin */
body{color:#999;}
a{color:#222;}
.m-nav a,.m-sch .txt,.m-ttl a{color:#898989;}
.m-sch .form{border-color:#898989;}
.m-about,.m-cprt,.m-cprt a,.info a{color:#aaa;}

/* CC图标是放在公共文件夹里，引用图标的样式如下 */
.cc_1,.cc_2,.cc_3,.cc_4,.cc_5,.cc_6{height:23px;display:inline-block;background:url(http://img.ph.126.net/2bgPOqTINd2-eKac-KT2IQ==/5629501733236405203.png) no-repeat left top;}
.cc_1{width:48px;background-position:0 5px;}
.cc_2{width:48px;background-position:-55px -19px;}
.cc_3{width:32px;background-position:0 -43px;}
.cc_4{width:32px;background-position:-70px -66px;}
.cc_5{width:32px;background-position:0 -90px;}
.cc_6{width:14px;background-position:-87px -113px;}

/* cmt & hot */
.m-cmthot .nctitle{margin-bottom:8px;font-size:14px;}
.m-cmt,.m-hot{padding:10px 0;}
.m-hot .avatar{float:left;width:20px;height:20px;border:0;margin:0;}
.notes{margin:0;padding:0;line-height:20px;font-size:12px;zoom:1;}
.notes:after{clear:both;content:'.';display:block;height:0;visibility:hidden;overflow:hidden;}
.notes .clear{clear:both;height:0;overflow:hidden;}
.m-hot .action{float:right;width:770px;}
.m-hot .note{list-style:none;margin:0;float:left;width:100%;padding:10px 0;border-top:1px solid #f2f2f2;}
.notes blockquote{padding: 0 0 0 15px;margin-left:30px;overflow:hidden;word-wrap:break-word;border-left:1px solid #ccc;}

@media screen and (max-width: 1060px){
	.p-homepage .g-hd0 .g-hdc, .p-homepage .g-hd1 .g-hdc, .p-homepage .g-mn, .p-homepage .g-ft{width:680px;}
}