---
layout: default
tagline: Supporting tagline
---

{% include JB/setup %}
{% for post in paginator.posts %}
<ul id="post-list">
		<span class="date" style="position: absolute; top: auto; bottom: auto;">
                  <span class="month">{{ post.date | date:"%b"}}</span>
                  <span class="day">{{ post.date | date:"%d"}}</span>
               </span>
	<li class="post text">
		<div class="body">

			<div class="rich-content">
				<h2 class="title"><a href="{{ post.url }}" rel="bookmark" title="{{ post.url }}">{{post.title}}</a></h2>
				<!--
				<a class="date" href="http://mingdays.wordpress.com/2011/11/29/%e5%8c%97%e9%a3%8e%e5%90%b9%e8%b5%b7/">
					<span class="day"></span>
					<span class="month"></span>
				</a>
				-->
				{{post.content}}
			</div>
		</div>
		<div class="meta">
			<span class="notes-count"><a href="http://xiangjixuan.xiangjixuan1361584543563.tpl.diandian.com/post/2012-06-13/40028776394#notes">10&nbsp;热度</a></span>
			<span class="tags">
				{% assign tags_list = post.tags %}
				{% if site.JB.tags_list.provider == "custom" %}
				{% include custom/tags_list %}
				{% else %}
				{% if tags_list.first[0] == null %}
				{% for tag in tags_list %} 
				<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>
				{% endfor %}
				{% else %}
				{% for tag in tags_list %} 
				<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
				{% endfor %}
				{% endif %}
				{% endif %}
				{% assign tags_list = nil %}
			</span>
		</div>
	</li>
</ul>
{% endfor %}


<!-- Pagination links -->
<div id="post-pagination" class="pagination">
 <ul class="pages">
  {% if paginator.previous_page %}
  <li class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="/">上一页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">上一页</a>
    {% endif %}
  </li>
  {% endif %}

 
    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="/page{{paginator.next_page}}">下一页</a>
  </li>
  {% endif %}
	</ul>
</div>

