{% if page.comments != false %}
<div id="disqus_thread"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        id: '{{ page.date }}',
        owner: '{{site.gitment.githubID}}',
        repo: '{{site.gitment.repo}}',
        oauth: {
            client_id: '{{site.gitment.ClientID}}',
            client_secret: '{{site.gitment.ClientSecret}}',
        },
    });
    gitment.render('disqus_thread')
</script>
{% endif %}
