#jquery_pages_content {width:49%; margin:0 auto 15px; text-align:right; font-size:15px;}
#jquery_pages_content .current_page {color:rgb(255, 0, 0); border-bottom:solid rgb(255, 0, 0); padding:0px 4px;}
#jquery_pages_content a {color:rgb(128, 128, 128); padding:0 3px;}
#jquery_pages_content a:hover {color:rgb(255, 255, 255); background-color:rgb(255, 0, 0); text-decoration:none;}