<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} {% else %}{{ site.title }}{% endif %}</title>
    <meta name="author" content="Joway" />
    <meta name="description" content="Joway's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="stylesheet" href="/css/pages.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>

<body>
    {{ content }}
    
    <p id="back_to_top"><a href="#top"><img src="/images/back-to-top.png" alt="back to the top"></a></p>
    
    <footer id="footer">
        <div class="copyright">
            {% for line in site.copyright %}
            <p>{{ line }}</p>
            {% endfor %}
        </div>
    </footer>

    <script src="../js/common.js"></script>

    <script type="text/javascript">
        $(function(){
            $('.home_follow').click(function(e){
                e.preventDefault();

                if($('.home_contact').is(':visible')){
                    $('.home_contact').slideUp(100);
                }else{
                    $('.home_contact').slideDown(100);
                }
            });
        })
    </script>
    
    <!--统计代码-->
        <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?ee8bb69872ad79e08a630b8174442792";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
        </script>
    <!--统计代码-->
    </div>
 </body>
</html>
