---
layout: default
---
<link rel="stylesheet" href="/js/prettify/prettify_desert.css" type="text/css" />

<style type="text/css">
    body { background:rgb(245, 245, 245); }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">   
    <div class="left" style="position:absolute; z-index:9;">
        <a href="/"><div id="nav_avatars_back"><img id="home_avatar" src="/images/bird.png" class="no"/></div></a> 


        
    </div>

    <div class="entry">
        <h1 class="entry_title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry_date"><time>{{ page.date|date:"%Y-%m-%d" }}</time></p>
        <article id="article_content">
            {{ content }}
        </article>
        
        <aside id="other_posts">
        {% if page.previous %}
            <span style="text-align:left"><a href={{ page.previous.url }}>上片： {{ page.previous.title | truncatewords:5 }}</a></span>
        {% endif %}
        {% if page.next %}
            <span style="text-align:right"><a href={{ page.next.url }} class="right">下阙： {{ page.next.title | truncatewords:5 }}</a></span>
        {% endif %}
        </aside>
        
        <br>
        <br>
        
        
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key={{page.id}} data-title={{page.title}} data-url={{page.url}}></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var isOnPc=!(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent));
if(isOnPc) {
	var duoshuoQuery = {short_name:"utopiaj"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
}
</script>
<!-- 多说公共JS代码 end -->

    </div>
    

    
</div>



<footer id="floater"></footer>

<!--<div id="category">
    <div class="close_window">
        <a href="javascript:void(0)"><img src="/images/icon/close.png" alt="关闭窗口" title="关闭"/></a>
    </div>
    <ul class="article-list">
        <div>最近十篇</div>
        {% for post in site.posts limit:10%}
        <li><span class="post_time">{{ post.date | date:"%Y-%m-%d" }} &raquo;</span><a href="{{ post.url }}"> {{ post.title }} </a></li>
        {% endfor %}
        <div><a href="/category.html">查看所有文章归档</a></div>
    </ul>
</div>-->

