body {
	overflow: hidden;
	font-family: Songti;
}

#sidebar {
	width: 160px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 50px 20px 0;
	text-align: right;
	background: #333;
}

#sidebar h1 {
	font-size: 28px;
	font-family: 'Microsoft Yahei';
	padding-bottom: 30px;
	/*border-bottom: solid 1px #000;*/
	box-shadow: 0 1px 0 #333;
	text-shadow: 0 1px 2px #000;
	word-wrap: break-word;
}

#sidebar h1 a { 
	color: RGB(0, 119, 34); 
}

#description {
	padding-top: 12px;
	font-size: 15px;
	line-height: 1.5;
	color: darkgray;
	text-shadow: 0 1px 2px #000;
	word-wrap: break-word
}

#description a {
	font-weight: bold;
	color: #899;
}

#nav {
	width: 200px;
	margin: 60px 0 0 -20px;
	border-top: solid 1px #111;
}

#nav li a {
	display: block;
	padding: 16px 20px 15px;
	height: 16px;
	background: rgba(0, 0, 0, .25);
	border-bottom: solid 1px #111;
	box-shadow: 0 1px 0 #333;
	color: #ddd;
	text-shadow: 0 1px 2px #000;
	text-transform: lowercase;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

#nav li a:hover {
	color: #fff;
	text-shadow: 0 0 5px rgba(255, 255, 255, .5);
}
.search {
	display: block;
	padding: 16px 20px 15px;
	height: 16px;
	background: rgba(0, 0, 0, .25);
	border: 0;
	border-bottom: solid 1px #111;
	box-shadow: 0 1px 0 #333;
	color: #ddd;
	text-shadow: 0 1px 2px #000;
	text-transform: lowercase;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	text-align: right;
	width: 160px;
	font-size: 100%;
}
#social {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 170px;
	padding: 15px;
	background: rgba(0, 0, 0, .25);
	border-top: solid 1px #111;
	text-align: center;
}

#social li {
	display: inline-block;
	width: 34px;
	height: 34px;
}

#social li a {
	display: block;
	text-indent: 9999em;
	height: 34px;
	opacity: .5;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

#social li a:hover { opacity: 1; }

#main {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 200px;
	overflow-y: scroll;
	
	background-color:#e9e9e9;    
	
	 
		
	
	background-repeat:repeat-y;
	padding: 36px 36px 18px;
	color: #444;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.post { 
	margin-bottom: 36px; 
	word-wrap: break-word;
}

.post code{
    font-size: 14px;
    line-height: 1.5em;
    font-family: 'Monaco';
}

.post h3{
    font-size: 20px;
    line-height: 2em;
}

.post li{
    font-size: 16px;
}

.page-results {
	font-size: 23px;
}
.body {
	width: 95%;
	padding: 24px 24px 6px;
	background: #fff url('http://x.libdd.com/farm1/c8b5b1/87f04e98/C75D5.png') repeat-x bottom;
	border-radius: 5px;
	box-shadow: 0 1px 2px #bbb;
	font-size: 18px;
	font: 12px/1.5 Palatino,"Palatino Linotype", serif;
}

.body h1,h2{
	margin: 10px 0px 0px 30px;
	font-size: 24px;
	color: RGB(0,119,34);
}
.body h2 a{
	margin:10px 0px;
	font-size: 24px;
	color: RGB(0,119,34);
}

.body h1{
	margin-bottom: 16px;
	}
	
.chat .body { padding-bottom: 24px; }

.title {
	margin-bottom: 18px;
	word-wrap: break-word;
}

.link .title a {
	padding: 2px 3px;
	border-bottom: none;
}

.link .title a:hover { padding: 2px 2px; }

.link .title a:after { content: ' \2192'; }

.body p, .body ul, .body ol, .body pre, .body blockquote {
	line-height: 1.5em;
	margin-bottom: 18px;
}

.body ul { list-style: none; }

.body ol { list-style: decimal; }

.body li { line-height: 2; }

.body blockquote {
	margin-left: 24px;
	color: #888;
}

.caption {
	margin: -12px 0 18px;
	padding: 5px 18px;
	background: #eee;
	border: solid 1px #ddd;
	border-width: 1px 0;
	word-wrap: break-word;
	overflow: hidden;
}
	
.thumbPhoto {
	margin-bottom: 15px;
	padding: 0;
	width: 500px;
}

.thumbPhoto li {
	float: left;
	list-style: none outside none;
	margin-bottom: -12px;
	margin-right: -4px;
	margin-top: -20px;
}
.thumbPhoto li img {
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 5px;
	width: 93px;
}
.text img {
	max-width: 475px;
	margin-bottom: -15px;
}
.caption p { margin: 6px 0; }

cite { font-style: normal; }

.video .video-container { margin-bottom: 18px; }

.photo img, .html_photoset { margin-bottom: 18px;}
.audio .body {
	padding: 24px;
}

.album-art {
	float: left;
	margin-right: 18px;
	display: inline-block;
	border-radius: 2px;
}

.player-meta { display: inline-block; }

.audio-player { height: 30px; }
		
.play-count {
	line-height: 12px;
	height: 12px;
	margin-top: 6px;
}
		
.audio .caption {
	margin: 18px 0 0;
	clear: both;
}

.meta {
	line-height: 1.2;
	width: 500px;
	padding: 12px 24px 12px;
}

.meta span {
	padding-left: 18px;
	margin-right: 12px;
}

.meta a { 
	color:#888;
}

.meta a:hover { color: #444; }

.tags { background: url('http://x.libdd.com/farm1/c8b5b1/3b000ce8/6B15D.png') no-repeat left center; }

.tags a:before { content: '#'; }

.reblog { background: url('http://x.libdd.com/farm1/c8b5b1/5e6b6c64/2BE7D.png') no-repeat left center; }

.notes-count { background: url('http://x.libdd.com/farm1/c8b5b1/3ad02303/BC249.png') no-repeat left center; }

#notes {
	margin-bottom: 36px;
	width: 548px;
}

.note {
	margin: 6px 0;
	color: #888;
}

.note a { color: #444; }

.note > a > img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 4px 8px 4px 0;
}

.note .action {
	float: left;
	height: 24px;
	line-height: 24px;
}

.note blockquote {
	margin-left: 48px;
	color: #888;
}
.clear {
	clear: both;
}
.more_notes { line-height: 24px; }

#pagination { margin-bottom: 36px; }

#pagination a { color: #444; }

.separator { color: #888; }

#footer {
	border-top: solid 1px #ccc;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
	padding-top: 17px;
	color: #888;
}

#footer a { color: #444; }

.clear { clear: both; }

.post p{
	font-size: 18px;
}
/*

.tag_box{
	margin:0;
	padding:0;
	list-style:none;
	}
	.tag_box li, .tag_box a{
	float:left;
	height:24px;
	line-height:20px;
	position:relative;
	font-size:11px;
	}
	.tag_box a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
	} 
	.tag_box a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	}
	.tag_box a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}
	.tag_box a:hover{background:#555;}	

.tag_box a:hover:before{border-color:transparent #555 transparent transparent;}
*/

/* tag_box ======================================================== */
.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	list-style:none;
	line-height:1.8em;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	border-radius: 3px;
	border:1px dashed #ccc;
	text-decoration:none;
	color: #37a;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* .prev-next */
.prev-next {
	margin:5px 10px 5px 5px;
	position:relative;
}
.prev-next .next{ 
	float:right;
}

/* pagination */
.pagination{
padding-left: 50px;
line-height: 1.5em;
}
.pagination .previous,.next{
font-size: 15px;
width: 100px;
margin: 0px;
padding: 0px;
}

ul.pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
.current-page{
	font-size: 18px;
	font-weight: bold;
	color: #FF00FF;
}
#post-pagination a{
	margin: 10px;
}

.date { 
   color: #777;
   position: absolute;
   z-index: 20;
   margin: 10px 0 0 -9px; 
   width: 52px;
   height: 61px;
   border: #CABCBC solid 1px;
   background-color: #FDFDFD;
   border-radius: 5px;
}
.date span { 
   line-height: 1;
   text-align: center; 
   display: block;
}
.date .month { 
   font-size: 9px;
   text-transform: uppercase; 
   padding: 10px 0 4px;
}
.date .day {
   font-size: 24px;
   font-weight: bold;
}
