<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
<link href="https://dn-jowaywong.qbox.me/css/tomorrow.min.css" rel="stylesheet">



</head>

<body id="post">

{% include navigation.html %}

<div id="main" role="main">
  <article class="hentry">
    {% if page.image.feature %}<img src="{{ site.asset_url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <span class="entry-tags">
        <i class="fa fa-tags"></i>
                {% for tag in page.tags %}<a href="{{ site.url }}/tags.html#{{ tag | cgi_encode }}" title="Pages tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>
        {% if page.link %}
          <h1 class="entry-title"><a href="{{ page.link }}">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% endif %}
      </header>
      <footer class="entry-meta">
        <img src="{{ site.asset_url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo">
        <span class="author vcard">By <span class="fn"><a href="{{ site.url }}/about.html" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
        <span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-calendar-o"></i> {{ page.date | date: "%B %d, %Y" }}</time></span>
        {% if page.modified %}<span class="entry-date date modified updated"><time datetime="{{ page.modified }}"><i class="fa-pencil"></i> {{ page.modified | date: "%B %d, %Y" }}</time></span>{% endif %}
        {% if site.disqus_shortname and page.comments %}<span class="entry-comments"><i class="fa fa-comment-o"></i> <a href="#disqus_thread">Comment</a></span>{% endif %}
        <span><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}"><i class="fa fa-link"></i> Permalink</a></span>
        {% if page.share %}
        <span class="social-share-facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" itemprop="Facebook"><i class="fa fa-facebook-square"></i> Like</a></span>
        <span class="social-share-twitter">
            <a href="https://twitter.com/intent/tweet?hashtags={{ page.categories | join: ',' }}&text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{site.owner.twitter}}" title="Share on Twitter" itemprop="Twitter"><i class="fa fa-twitter-square"></i> Tweet</a></span>
        <span class="social-share-googleplus">
            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus" itemprop="GooglePlus"><i class="fa fa-google-plus-square"></i> +1</a></span>
            <!-- /.social-share -->{% endif %}
      </footer>
      <div id= "post-entry-content"class="entry-content">
        {{ content }}
        {% include post_copyright.html %}
        {% include rating.html %}
	<nav class="pagination" role="navigation">
        {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">上一篇</a>
        {% endif %}
        {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">下一篇</a>
        {% endif %}
      </nav><!-- /.pagination -->

        {% if site.disqus_shortname and page.comments %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}

<!-- highlight.js -->
<script src="https://dn-jowaywong.qbox.me/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>



<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key={{page.id}} data-title={{page.title}} data-url="joway.github.io{{page.url}}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"jowaywong"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    </article>
</div><!-- /#main -->


<div class="footer-wrapper">
  <footer role="contentinfo">
    <!--{% if site.tb_ads_display %}
    <div class="tb-ads" style="margin:10px 0;">
    <script type="text/javascript">
        document.write('<a style="display:none!important" id="tanx-a-mm_54632328_6096791_22470523"></a>');
        tanx_s = document.createElement("script");
        tanx_s.type = "text/javascript";
        tanx_s.charset = "gbk";
        tanx_s.id = "tanx-s-mm_54632328_6096791_22470523";
        tanx_s.async = true;
        tanx_s.src = "http://p.tanx.com/ex?i=mm_54632328_6096791_22470523";
        tanx_h = document.getElementsByTagName("head")[0];
        if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
    </script>
    </div>
    {% endif %}-->
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}




<script>
var isOnPc=!(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent));
if(isOnPc) {
	window.tctipConfig = {
		staticPrefix: "https://dn-jowaywong.qbox.me",
		buttonImageId: 6,
		list:{
			alipay: { qrimg: "https://dn-jowaywong.qbox.me/images/alipay.png"},
			weixin:{qrimg: "https://dn-jowaywong.qbox.me/images/wechat.png"}
		}
	};
}
</script>

        


<script src="/js/tctip.min.js"></script>



<!-- 百度统计 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?3d8cd5acad6f5c33f8cb1324eebd6426";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- 谷歌分析 -->
<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53624533-1', 'auto');
  ga('send', 'pageview');

</script>-->



</body>
</html>
